{% extends 'base.html' %}

{% block content %}
<div class="main-about">
    <div class="about-greet">
      <h2>Overall information</h2>
      <p>About me. Click <a href="/contacts">here</a> to contact</p>
    </div>
    <div class="info-about">
      <table class="my-table" id="about-me-table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Full name</b></td>
            <td>Tatiana Shilina</td>
          </tr>
          <tr>
            <td><b>Date of birth</b></td>
            <td>09/26/2001 - 22 years old</td>
          </tr>
          <tr>
            <td><b>Country</b></td>
            <td>United States - lawful permanent resident</td>
          </tr>
          <tr>
            <td><b>Specialization</b></td>
            <td>Fullstack web developer</td>
          </tr>
          <tr>
            <td><b>Education</b></td>
            <td>Bachelor degree - Herzen University, Saint Petersburg</td>
          </tr>
          <tr>
            <td><b>Overall experience</b></td>
            <td>4 years (since 2019)</td>
          </tr>
          <tr>
            <td><b>Working experience - years</b></td>
            <td>3 years (since 2020)</td>
          </tr>
          <tr>
            <td><b>Working experience - jobs</b></td>
            <td>EPAM Systems: <i>Sep 2021 - Mar 2022</i><br/>Freelance: <i>Feb 2020 - nowadays</i></td>
          </tr>
          <tr>
            <td><b>Languages</b></td>
            <td>Python, JavaScript, CSS, HTML, C++</td>
          </tr>
          <tr>
            <td><b>Frameworks</b></td>
            <td>Flask, Django, Pytest, Matplotlib, SQLAlchemy, NumPy, Pandas, React.js, Next.js, Bootstrap</td>
          </tr>
          <tr>
            <td><b>Databases</b></td>
            <td>MySQL, SQLite, PostgreSQL, MongoDB, Redis</td>
          </tr>
          <tr>
            <td><b>Technologies</b></td>
            <td>RESTful API, Docker, Kubernetes, RSS, Celery, Git</td>
          </tr>
          <tr>
            <td><b>OS</b></td>
            <td>Windows, Linux, MacOS</td>
          </tr>
          <tr>
            <td><b>Other</b></td>
            <td>English - advanced<br/>Russian - native<br/>French - intermediate</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}