{% extends 'base.html' %}

{% block content %}
<div class="main-contacts">
    <div class="cont-greet">
      <h1>My contacts</h1>
      <p>Looks like you're really interested...</p>
    </div>
    <div class="cont-block">
      <p><b>Email:</b> teenasherts@gmail.com</p>
      <p><b>Phone:</b> +1 (505) 227-7910</p>
      <a href="https://docs.google.com/document/d/1yB6bzO3i1N9h8Feps8ULHTE9luq6L7A1Qc3nEOVJ1E0/edit" id="cv-link">Link for <b>my CV</b></a>
      <p>Other links:</p>
      <div class="icon-block" title="GitHub">
        <a href="https://github.com/TeenAsher?tab=repositories"><i class="fa-brands fa-github" title="GitHub"></i></a>
      </div>
      <div class="icon-block" title="DockerHub">
        <a href="https://hub.docker.com/u/teenasher"><i class="fa-brands fa-docker" title="DockerHub"></i></a>
      </div>
      <div class="icon-block" title="LinkedIn">
        <a href="https://www.linkedin.com/in/tatiana-shilina-8929572a6/"><i class="fa-brands fa-linkedin" title="LinkedIn"></i></a>
      </div>
      <div class="icon-block" title="Facebook">
        <a href="https://m.facebook.com/profile.php/?id=100094857496476"><i class="fa-brands fa-facebook" title="Facebook"></i></a>
      </div>
      <div class="icon-block" title="Telegram">
        <a href="https://t.me/kisik_sosisik"><i class="fa-brands fa-telegram" title="Telegram"></i></a>
      </div>
      <div class="icon-block" title="Whatsapp">
        <a href="https://wa.me/15052277910"><i class="fa-brands fa-whatsapp" title="WhatsApp"></i></a>
      </div>
    </div>
  </div>
{% endblock %}