{% extends 'base.html' %}

{% block content %}
<div class="main-wbpg">
    <div class="wbpg-greet">
      <h1>This page</h1>
      <p>Here you can find info about my website</p>
    </div>
    <div class="wbpg-block">
      <table>
        <thead>
          <tr>
            <th colSpan="2">Specifications</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="row-one">Backend</td>
            <td class="row-two">Flask - 2.3.2 </td>
          </tr>
          <tr>
            <td class="row-one">Frontend</td>
            <td class="row-two">JavaScript, HTML5</td>
          </tr>
          <tr>
            <td class="row-one">Design</td>
            <td class="row-two">CSS3</td>
          </tr>
          <tr>
            <td class="row-one">Language</td>
            <td class="row-two">Python - 3.11.4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}